.Table{
    background-color: rebeccapurple;
    padding: 20px 40px;
    border-radius: 10px;
    border-collapse: collapse;
    }

.Table thead{
    background-color: gray;
}

.Table td, .Table th{
    padding: 14px;
    font-weight: 600;
}

.Table tr:hover{
    background-color: #222;
}

.Edit, .Delete{
    padding: 5px;
    font-weight: 600;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.Delete:hover{
    background-color: red;
}